.THIS .avaliable{
    background: #b7ff97;
}
.THIS .booked{
    background: #75a0f9;
}
.THIS .notreleased{
    background: #f6b84c;
}
.THIS .blocked{
    background: #bdbdbd;
}
.THIS .sold{
    background: #d3685a;
}


.THIS .app-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f4f6f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: 100vh; /* Full height */
}

.THIS .filter-section {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
    width: 100%;
    padding-left: 20px; /* Add padding to the left side */
}

@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
.THIS {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    font-family: 'DM Sans', sans-serif;
}

.THIS .projects-section {
    flex: 2;
    background-color: #fff;
    border-radius: 32px;
    padding: 32px 32px 10px 32px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.THIS .projects-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    color: #1f1c2e;
}

.THIS .projects-section-header p {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    opacity: 0.9;
    margin: 0;
    color: #1f1c2e;
}

.THIS .projects-section-header .time {
    font-size: 20px;
}

.THIS .projects-section-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
}

.THIS .projects-status {
    display: flex;
}


.THIS .project-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
    position: sticky; /* Keep the header at the top */
    top: 0;
    background-color: #ffffff; /* White background */
    z-index: 10; /* Ensure it's above content */
    width: 100%;
    padding:20px;
     border-radius: 20px;
}
.THIS .project-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 10px;
    margin-top: 5px;
    max-height: calc(100vh - 250px); /* Make content scrollable */
    overflow-y: auto; /* Enable scrolling */
    padding-bottom: 20px;
}

.THIS .project-section-header p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.THIS .item-status {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}

.THIS .status-number {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #1f1c2e;
}

.THIS .status-type {
    position: relative;
    padding-right: 24px;
    color: #4A4A4A;
}

.THIS .project-boxes.jsGridView {
    display: flex;
    flex-wrap: wrap;
}

.THIS .project-box-wrapper {
    width: 20.3%;
    padding: 8px;
}
.THIS .project-box-wrapper-plot {    
    width: 15%;
    padding: 8px;
}

.THIS .project-box {
    border-radius: 30px;
    padding: 16px;
    background-color:#dbd4f3;
        /* #dbf6fd;*/
}
.THIS .project-box-plot {
    border-radius: 30px;
    padding: 15px;
    height:100%
}

.THIS .project-box:nth-child(2) {
    background-color: #e9e7fd;
}

.THIS .project-box:nth-child(3) {
    background-color: #dbf6fd;
}

.THIS .project-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    color: #1f1c2e;
}

.THIS .project-box-header span {
    color: #4A4A4A;
    opacity: 0.7;
    font-size: 18px;
    line-height: 16px;
}

.THIS .project-box-content-header {
    padding-left: 12px;
    margin-bottom: 16px;
}

.THIS .project-box-content-header p {
    margin: 0;
}
.THIS .project-box-content-header-plot {
    padding: 11px 0;
    margin-bottom: 16px;
    
}

.THIS .project-box-content-header-plot p {
    margin: 0;
}


.THIS .box-content-header {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    opacity: 0.7;
}
.THIS .box-content-header-plot {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    opacity: 0.7;
    text-align: center;
}

.THIS .box-content-subheader {
    font-size: 14px;
    line-height: 24px;
    opacity: 0.7;
}

.THIS .box-progress-wrapper {
    margin-bottom: 16px;
}

.THIS .box-progress-header {
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    margin: 0;
}

.THIS .box-progress-bar {
    width: 100%;
    height: 4px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    margin: 3px 0;
}

.THIS .box-progress {
    display: block;
    height: 4px;
    border-radius: 6px;
}

.THIS .box-progress-percentage {
    text-align: right;
    margin: 0;
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
}

.THIS .project-box-footer {
    display: flex;
    justify-content: left;
    position: relative;
}
.THIS .project-box-footer-plot {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    gap: 6px;
}

/*.THIS .project-box-footer:after {
content: '';
position: absolute;
background-color: rgba(255,255,255,0.6);
width: calc(100% + 32px);
top: 0;
left: -16px;
height: 1px;
}*/

.THIS .days-left {
    background-color: rgba(255,255,255,0.6);
    font-size: 12px;
    border-radius: 20px;
    flex-shrink: 0;
    padding: 6px 16px;
    font-weight: 700;
    cursor: pointer;
}
.THIS .days-left-plot {
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 11px;
    border-radius: 20px;
    flex-shrink: 0;
    padding: 6px 9px;
    font-weight: 700;
    cursor: pointer;
}
@media screen and (max-width: 980px) {
    .THIS .project-boxes.jsGridView .project-box-wrapper {
        width: 50%;
    }
    .THIS .project-boxes.jsGridView .project-box-wrapper-plot {
        width: 50%;
    }
    
    .THIS .status-number, .THIS .status-type {
        font-size: 14px;
    }
    
    .THIS .status-type:after {
        width: 4px;
        height: 4px;
    }
    
    .THIS .item-status {
        margin-right: 0;
    }
}

@media screen and (max-width: 880px) {
    .THIS .messages-section {
        transform: translateX(100%);
        position: absolute;
        opacity: 0;
        top: 0;
        z-index: 2;
        height: 100%;
        width: 100%;
    }
    .THIS .messages-section .messages-close {
        display: block;
    }
    
    .THIS .messages-btn {
        display: flex;
    }
}

@media screen and (max-width: 720px) {
    .THIS .app-name, .THIS .profile-btn span {
        display: none;
    }
    
    .THIS .add-btn, .THIS .notification-btn, .THIS .mode-switch {
        width: 20px;
        height: 20px;
    }
    .THIS .add-btn svg, .THIS .notification-btn svg, .THIS .mode-switch svg {
        width: 16px;
        height: 16px;
    }
    
    .THIS .app-header-right button {
        margin-left: 4px;
    }
}

@media screen and (max-width: 520px) {
    .THIS .projects-section {
        overflow: auto;
    }
    
    .THIS .project-boxes {
        overflow-y: visible;
    }
    
    .THIS .app-sidebar, .THIS .app-icon {
        display: none;
    }
    
    .THIS .app-content {
        padding: 16px 12px 24px 12px;
    }
    .THIS .status-number{
        text-align:center;
    }
    .THIS .status-number, .THIS .status-type {
        font-size: 10px;
        font-weight: 700;
    }
    
    .THIS .view-btn {
        width: 24px;
        height: 24px;
    }
    
    .THIS .app-header {
        padding: 16px 10px;
    }
    
    .THIS .search-input {
        max-width: 120px;
    }
    
    .THIS .project-boxes.jsGridView .project-box-wrapper {
        width: 100%;
    }
    .THIS .project-boxes.jsGridView .project-box-wrapper-plot {
        width: 100%;
    }
    
    .THIS .projects-section {
        padding: 24px 16px 0 16px;
    }
    
    .THIS .profile-btn img {
        width: 24px;
        height: 24px;
    }
    
    .THIS .app-header {
        padding: 10px;
    }
    
    .THIS .projects-section-header p,
    .THIS .projects-section-header .time {
        font-size: 18px;
    }
    
    .THIS .status-type {
        padding-right: 8px;
    }
    .THIS .status-type:after {
        display: none;
    }
    
    .THIS .search-input {
        font-size: 14px;
    }
    
    .THIS .messages-btn {
        top: 48px;
    }
    
    .THIS .box-content-header {
        font-size: 12px;
        line-height: 16px;
    }
    .THIS .box-content-header-plot {
        font-size: 12px;
        line-height: 16px;
    }
    
    .THIS .box-content-subheader {
        font-size: 13px;
        line-height: 21px;
    }
    
    .THIS .project-boxes.jsListView .project-box-header > span {
        font-size: 10px;
    }
    .THIS .project-boxes.jsListView .project-box-header-plot > span {
        font-size: 7px;
    }
    
    .THIS .box-progress-header {
        font-size: 12px;
    }
    
    .THIS .box-progress-percentage {
        font-size: 10px;
    }
    
    .THIS .days-left {
        font-size: 9px;
        padding: 9px 9px;
        text-align: center;
        cursor: pointer;
    }
    .THIS .days-left-plot {
        font-size: 9px;
        padding: 9px 9px;
        text-align: center;
        cursor: pointer;
    }
    
    .THIS .project-boxes.jsListView .project-box > * {
        margin-right: 10px;
    }
    
    .THIS .project-boxes.jsListView .more-wrapper {
        right: 2px;
        top: 10px;
    }
}
.THIS .rwp-chart-legend {
  font-family: Roboto;
  color: #444;
  position: relative;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
  width: 50%;
}
.THIS .rwp-chart-legend-Center {
  margin: 12px auto 12px auto;
}
.THIS .rwp-chart-legend-Left,
.THIS .rwp-chart-legend-Right {
  width: 100%;
}
.THIS .rwp-chart-legend__card-Center {
  list-style: none;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
 font-size: 12px;
}
.THIS .rwp-chart-legend__card-Left,
.THIS .rwp-chart-legend__card-Right {
  list-style: none;
  flex: 1;
  flex-basis: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 10px 10px 0px;
}
.THIS .rwp-chart__icon {
     width: 16px;
    height: 16px;
    border-radius: 4px;
    margin-right: 8px;
}
@media (max-width: 768px) {
 .THIS .rwp-chart--layout-Left,
 .THIS .rwp-chart--layout-Right {
    display: flex;
    flex-direction: column;
  }
.THIS  .rwp-chart--layout-Left-First,
 .THIS .rwp-chart--layout-Right-First {
    padding: 0px;
    flex: 1;
    text-align: center;
  }
 .THIS .rwp-chart--layout-Left-Second,
 .THIS .rwp-chart--layout-Right-Second {
    flex: 1;
  }
}
@media (max-width: 768px) {
 .THIS .rwp-chart-legend-Left,
 .THIS .rwp-chart-legend-Right,
   .THIS .rwp-chart-legend {
    width: 80%;
    margin: 12px auto 12px auto;
  }
 .THIS .rwp-chart-legend__card-Left,
  .THIS .rwp-chart-legend__card-Right {
    list-style: none;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
  }
}